.sidebar-decor {
    width: 0;             
    height: 0;
    border-right: 20px solid transparent; 
    border-bottom: 35px solid $primary;   
    top: 0;
    left: -1px;
}
.sidebar {
    background-color: white;
    color: $primary;
    border: 1px solid $primary;
   
   :hover {
        background-color: $light-primary;
        color: white;
        cursor: pointer;
   }
}
