$logoFont: 'ADLaM Display', sans-serif;
$bodyFont: 'Quicksand', sans-serif;
$primary:  teal;
$form-text-color: darken($primary, 10);
$light-primary: lighten($primary,15);
$font-size-base: 1rem;
$big-logo-size: $font-size-base * 5;

