
@import "variables"; 
@import "feed";
@import "profile";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


.logo {
    color: lighten($primary, 5);
    font-family: $logoFont;
    font-size: $big-logo-size;
    span {
        color: $primary;
    }
}
body {
    font-family: $bodyFont;
}
.btn-custom:hover {
    background-color: $light-primary;
}
i {
    color: $primary;
}
a {
    text-decoration: none;
}

.custom-background {
    background-color: $light-primary;
}
