
@import "variables"; 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.logo {
    color: lighten($primary, 5);
    font-family: $logoFont;
    font-size: $big-logo-size;
    span {
        color: $primary;
    }
}
body {
    font-family: $bodyFont;
}
.btn-custom:hover {
    background-color: $light-primary;
}
i {
    color: $primary;
}
a {
    text-decoration: none;
}

// profile image
.custom-border {
    border: 1px solid $primary;
}
.custom-position {
    top: 80%;
    left: 90%;
}
.btn-follow {
    background-color: $light-primary;
   
}

.followers {
    background-color: $primary;
    color: white;
    border: 1px solid $primary;
    border-left: transparent;
   
}
.following {
    border: 1px solid $primary;
    color: $primary;
    border-left: none;
   
}

.followers-decor {
    width: 0;             
    height: 0;
    border-left: -10px solid transparent;   
    border-right: 40px solid transparent; 
    border-bottom: 60px solid $light-primary;   
    top: 0;
    left: 0;
}
.custom-background {
    background-color: $light-primary;
}
.custom-cover-bottom {
    top: 70%;
}