
@import "variables"; 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

.logo {
    color: lighten($success, 10);
    font-family: $logoFont;
   
    span {
        color: $success;
    }
}
body {
    font-family: $bodyFont;
}
.btn-custom:hover {
    background-color: lighten($success, 15);
}
