
@import "variables"; 
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.logo {
    color: lighten($success, 10);
    font-family: $logoFont;
    font-size: $big-logo-size;
    span {
        color: $success;
    }
}
body {
    font-family: $bodyFont;
}
.btn-custom:hover {
    background-color: $light-success;
}
i {
    color: $success;
}
a {
    text-decoration: none;
}

// profile image
.custom-border {
    border: 1px solid $success;
    padding: 5px;
}
.custom-position {
    top: 80%;
    left: 90%;
}
.btn-follow {
    background-color: $light-success;
   
}
.custom-card {
    align-self: center;
    padding: 0.5rem;
    margin: 0.2rem;
    p {
        margin: 0;
    }
}

.followers {
    background-color: $success;
    color: white;
    border: 1px solid $success;
    border-left: transparent;
   
}
.following {
    border: 1px solid $success;
    color: $success;
    border-left: none;
   
}

.followers-decor {
    width: 0;             
    height: 0;
    border-left: -10px solid transparent;   
    border-right: 70px solid transparent; 
    border-bottom: 85px solid $light-success;   
    top: 0;
    left: 0;
}